name: "Mandatory Approvers Check"

on:
  pull_request:
    paths:
      - "charts/kspm-runtime/**"
    branches:
    - "jobs-consul"
jobs:
  check-approvers:
    name: Check required approvals
    runs-on: ubuntu-latest

    steps:
      - name: Require specific approvers
        uses: mszostok/required-approvals@v2
        with:
          # GitHub token
          token: ${{ secrets.GH_ORG_TOKEN }}

          # THESE USERS MUST APPROVE
          required_approvals: 1
          required_reviewers: |
            kprateep

          # Optional reviewers (ignored)
          ignored_reviewers: |
            vishnusomank
            PaveenV

          # The PR must be approved by these 3 users
          fail_on_missing_reviewers: true
