name: "Mandatory Approvers Check"

on:
  pull_request:
    branches:
      - "*"
    paths:
      - "**"
      
jobs:
  check-approvers:
    name: Check required approvals
    runs-on: ubuntu-latest

    steps:
      - name: Require specific approvers
        uses: Automattic/action-required-review@v3
        with:
          # GitHub token
          token: ${{ secrets.GH_ORG_TOKEN }}

          requirements: |
            - name: KSPM runtime changes
              paths:
                - 'charts/kspm-runtime/**'
              users:
                - kprateep
                - seswarrajan
                - Priyaccuknox
          fail: true
